/* Make all h1 headings blue and big */
h1 {
    color: blue;
    font-size: 50px;
}

/* Make all paragraphs red */
p {
    color: red;
}

/* Simple button style without padding and cursor */
button {
    background-color: blue;
    /* blue background */
    color: white;
    /* white text */
    font-size: 20px;
    /* bigger text */
    border: none;
}